html{
    width: 100%;

}


.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/australian-open.jpg');
    height: 1000px;
    background-position: center; 
    

}
.animate-charcter{
    text-align: center;
    font-size: 400%;
    padding-left: 1vh;
 }
 #navMenu ul li a {
    
    color: #156cf8 ;
    
}
#navMenu ul li a {
   
    background-color: #03010aa5 ;
    color: #156cf8;
    
}

#navMenu ul li a:hover {
   
    background-color: #156cf8;
    color: rgba(1, 59, 2, 0.772);
    
    
}

.animate-charcter{
   

   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #4227a4 0%,
    #156cf8 20%,
    #4227a4 100%
  );
  
 
    background-position: center; 
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
    font-size: 700%;
    font-family: 'Fugaz One', cursive;
    font-family: 'Oswald', sans-serif;
}
@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

.content   {
    border-top: 5px solid black ;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/aus1.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    width: 100%;
}

.contenttext{
    background-color: rgba(0, 0, 0, 0.275);
    font-family: 'Fugaz One', cursive;
    font-family: 'Oswald', sans-serif;
    border: 3px solid rgba(26, 71, 149, 0.803);
    width: 50%;
    font-size: 250%;
    text-align: center;
    padding-bottom: 4vh;
    color: rgb(84, 122, 189);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    border-radius: 25px;
    
    box-shadow: 4px 4px rgba(0, 0, 0, 0.507);

    
}
.ausphotos{
    font-family: 'Fugaz One', cursive;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    text-decoration: underline;
    font-size: 300%;
    text-shadow: 3px 3px 6px black;
    text-align: center;
    color:rgba(26, 71, 149, 0.803);
    padding-bottom: 8vh;

    
}
.col-md-12
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/ausbig.jpg');
    padding-top: 10vh;
    padding-bottom: 12vh;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 100%;
    height: 1000px;
}
.container footer{
    
    margin-top: 20vh;
    border-top: 2px solid black;
    width: 100%;
    padding-top: 2vh;
    font-family: 'Fugaz One', cursive;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.imagecarousel{
    position: relative;
    margin: 2vh;
    max-width: 808px;
    width: 100%;
    
}
.image {
    display: none;
    width: 100%;
    border: 4px solid rgb(248, 248, 248);

}

.image:first-of-type{
    display: block;
}
.prev, .next {
    position: absolute;
    top: 50%;
    padding: 2vh;
    background-color: rgba(57, 128, 195, 0.97);
    transform: translateY(-50%);
    transition: all 300ms ease;
    color: rgba(245, 245, 245, 0.365);
    font-size: 150%;

}
.prev{
    right: 0;
    border-radius: 5px 0 0 5px ;
}
.next {
    left: 0;
    border-radius: 0 5px 5px 0;
    
}
.prev:hover , .next:hover {
    background-color: rgba(43, 110, 172, 0.95);
    color: rgba(103, 124, 143, 1);
    cursor: pointer;
}
.dots {
    display: flex;
    gap: .5vh;
}
.dot { 
    border: 2px solid black;
    height: 20px;
    width: 20px;
    background-color: blue;
    border-radius: 50%;
}
.active { 
    border: 2px solid blue;
    background-color: rgba(0, 0, 0, 1);
}
.image img {
    max-height: 600px;
    width: 800px;
    max-width: 800px;
}



.middleText
{
    background-image: linear-gradient(to right, rgb(26, 71, 149),rgb(102, 150, 163), rgb(74, 148, 169),rgb(26, 71, 149));
    height: 200px;
    
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.middleText h1 {
   
    color: rgb(26, 71, 149);
    font-size: 250%;
    font-family: 'Fugaz One', cursive;
    font-family: 'Oswald', sans-serif;
  
}



.players{
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

/*  BOX SEXTION  */


.box1 , .box2, .box3{
    width: 100%;
    max-width: 1700px;
    height: 1300px;
}


.box1{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, rgb(26, 71, 149),rgb(102, 150, 163));

}
.box2{
    background-image: linear-gradient(to right ,rgb(102, 150, 163), rgb(74, 148, 169));
}

.box1 h2 , .box3 h2 , .box2 h2{
    margin: 5vh 11vh;
    padding: 0;
    width: 250px;
    max-width:  500px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    text-shadow: 2px 2px 4px blue;
    font-family: 'Fugaz One', cursive;
    font-family: 'Oswald', sans-serif;
}
.box2 h2{
    margin: 2vh 20vh;
    padding: 0;
    width: 250px;
    max-width:  400px;
    font-family: 'Fugaz One', cursive;
    font-family: 'Oswald', sans-serif;
    
}
.box3 h2{
    text-shadow: 2px 2px 4px rgb(215, 0, 147);
    font-family: 'Fugaz One', cursive;
    font-family: 'Oswald', sans-serif;
}

.box3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    background-image: linear-gradient(to right,  rgb(74, 148, 169),rgb(26, 71, 149));
    
}

.box1 h3, .box3 h3 {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
    font-family: 'Fugaz One', cursive;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 3vh;
    margin-top: 3vh;
    
}


/* BOX 1 - MAN */

.djocovic img, .roy img, .federer img {
    padding: 3vh 1vh;
    height: 250px;
    width: 220px;
    max-width: 300px;
    max-height: 300px;
}

.djocovic p, .roy p, .federer p {
    text-align: center;
    font-family: 'Fugaz One', cursive;
    font-family: 'Oswald', sans-serif;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.djocovic , .roy , .federer{
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: row;
    height: 30%;
}

/* BOX 2- General Information */

.box2 h2{
    font-family: 'Fugaz One', cursive;
    font-family: 'Oswald', sans-serif;
    font-size: 200%;
    width: 100%;
    margin: 4vh 5vh;
    
}

.box2 ul {
    margin: 3vh;
    height: 900px;
    list-style-type: none;

}
.box2 ul li{
    padding: 2vh 0;
    margin-top: 11vh;
    border-radius: 20px;
    text-shadow: 2px 2px 4px blue;
    text-align: center;
    box-shadow: 3px 3px blue;
    font-size: 120%;
    font-family: 'Fugaz One', cursive;
    font-family: 'Oswald', sans-serif;
        border: 3px solid rgb(57, 57, 194);

}


/* BOX 3 - WOMAN */


.steffi p, .serena p, .marg p{
    font-family: 'Fugaz One', cursive;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.steffi img, .serena img, .marg img{
    padding: 3vh 1vh;
    height: 250px;
    width: 220px;
    max-width: 300px;
    max-height: 300px;
}

.steffi , .serena , .marg {
    border-left:3px solid black ;
    border-bottom: 3px solid black;
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 30%;
}

#mobilemenu{
    display:none;
}

@media only screen and (max-width:1300px){
    
    .players{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1680px;
    }
    .box1 h2 , .box3 h2 , .box2 h2{
        margin: 5vh 52vh;
        width: 30%;
       
    }
   
}

@media only screen and (max-width:1000px){
    .contenttext{
        font-size: 215%;
    }
    .animate-charcter{
        padding-left: 1vh;
     }
    .box1{
        
        background-image: linear-gradient(180deg, rgb(26, 71, 149),rgb(102, 150, 163));
    
    }
    .box2{
        background-image: linear-gradient(180deg ,rgb(102, 150, 163), rgb(74, 148, 169));
    }
    .box3{
     
        background-image: linear-gradient(180deg,  rgb(74, 148, 169),rgb(26, 71, 149));
        
    }
   
}
@media only screen and (max-width:780px){
    #navMenu{
        display: none;
    }
    .animate-charcter{
        font-size: 450%;
        
    }
    #mobilemenu{
        display:block;
    }
    .hero-image{
        display: block;
    
    }
    .box1 h2 , .box3 h2 , .box2 h2{
        margin: 5vh 22vh;
        width: 50%;
       
    }
    .image, .imagecarousel{
        width: 400px;
        max-width: 450px;
    
    }
    .image img {
        max-height: 600px;
        width: 392px;
        max-width: 450px;
    }
    .contenttext{
        font-size: 175%;
    }


    .box1 h2 , .box3 h2 , .box2 h2{
        margin: 5vh 10vh;
        width: 60%;
       
    }
    .container footer{
    
        margin-top: 40vh;
        border-top: 2px solid black;
        width: 100%;
        padding-top: 2vh;
        
       color: white;
    }
   
}
@media only screen and (max-width:480px){
    .animate-charcter{
        font-size: 400%;
        
    }
    .hero-image{
        height: 700px;
    
    }
    .contenttext{
        font-size: 145%;
    }
    .animate-charcter{
        font-size: 325%;
        padding: 2vh;
        margin-left: 5vh;
        
    }
}
@media only screen and (max-width:390px){
    .hero-text h1{
        font-size: 300%;
        margin-left: 4vh;
    }
    .animate-charcter{
        font-size: 325%;
        padding: 2vh;
        margin-left: 5vh;
        margin-top: 20vh;
        
    }
    .hero-text {
        height: 700px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .box1{
        height: 1450px;
        
    }
    

    .hero-image{
        
        height: 700px;
        margin-bottom: 0;
        padding-bottom: 0;
        
    
    }
    
    .image, .imagecarousel{
        width: 100%;
      
    }
    .image img {
        
        width: 100%;
        
    }
    .contenttext{
        font-size: 140%;
        width: 80%;
    }

    .box1 h2 , .box3 h2 , .box2 h2{
        margin: 5vh 10vh;
        width: 60%;
       
    }
    .box2 {
        height: 1450px;
    
    }
    .container footer{
    
        margin-top: 40vh;
        border-top: 2px solid black;
        width: 100%;
        padding-top: 2vh;
        
       color: white;
    }
   
}